/* Radio / checkbox - base
   ========================================================================== */
.f-choose {
    margin: 2rem 0;
    
    cursor: pointer;

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.f-choose__indicator {
    position: relative;

    display: block;
}

.f-choose__indicator:after {
    content: '';

    position: absolute;

    display: none;
}

input:checked + .f-choose__indicator:after {
    display: block;
}

.f-choose__txt {
    margin-left: 1rem;

    font-size: 1.3rem;
}

/* Checkbox
    ========================================================================== */
.f-choose--checkbox {
    display: flex;

    .f-choose__indicator {
        min-width: 2rem;
        width: 2rem;
        height: 2rem;

        border-radius: 0.3rem;

        background: $color_gray_3;
    }

    .f-choose__indicator:after {
        top: 0.4rem;
        left: 0.7rem;

        transform: rotate(45deg);
        
        border: solid $color_gray;
        border-width: 0 0.2rem 0.2rem 0;
        width: 0.6rem;
        height: 1.2rem;
    }

    input:checked + .f-choose__indicator {
        border-color: $color_gray;
    }
}

