.c-list-menu {
  // position: fixed;
  z-index: 99;
  overflow: hidden;

  max-width: 30rem;
  border-radius: .8rem;
  box-shadow: .4rem .4rem 2rem .8rem rgba($color_gray_2, .3);
}

.c-list-menu__top {
  padding: 2.5rem 3rem 1.5rem 3rem;

  background: $color_blue;
}

.c-list-menu__title {
  color: white;
}

.c-list-menu__list {
  list-style-position: inside;

  margin: 0;
  padding: 0 0 2rem;

  background: white;
}

.c-list-menu__list-item {
  border-bottom: 1px solid $color_gray_3;
  padding: 2.5rem 2rem 2rem 2.5rem;
  
  cursor: pointer;

  &:last-child {
    border: 0;
  }

  &:hover,
  &.is-active {
    color: $color_orange;
  }
}
