.l-sec {
    &--spectrums {
        z-index:0;
        
        .l-grid{
            //justify-content: space-between;
            align-items: stretch;
            margin:-0.5rem;

           
        }

        .c-box {
            margin: 0.5rem;
            width:calc(100% / 4 - 4rem / 4);
            
            @include media("<=t"){
                width:calc(100% / 2 - 4rem / 4);
            }

            @include media("<=m"){
                width:calc(100% - 4rem / 4);
            }

            &.hidden{
                display: none;
            }

            &.visible {
                display: flex;
            }
        }
    }
}
