.l-sec {
    &--spectrum {
        .l-inner{
            padding-top:1rem;
            padding-bottom:1rem;

            .wrapper{
                line-height: 0;
                background-color: $color_gray_4;
                padding:0 0rem 2rem 0rem;
                position: relative;

                & > span{
                    display: block;
                    width:100%;
                }
            }
            #spectrum{
                width:100%;
                background: white;
            }

            .charts{
                padding:0 2rem;
            }
        }

        &__chart{
            min-height: 60rem;
            @include media("<=t-m"){
                min-height: auto;
                height: 60vw;
            }
        }

        &__cie{
            position: relative;
            height:50%;
            background-color:white;

            @include media("<=t-m"){
                margin-top: 2rem;
                min-height: 40vw;
                padding-right: 1rem;
            }
            canvas{
                background: transparent;
            }

            #cie{
                position: absolute;
                top:0;
                left:0;
                z-index:1;
               
            }
            .bg{
                position: absolute; 
                top: 0px; 
                left: 0px; 
                
            }
        }

        &__cri{
            height:50%;
            align-items: flex-end;
            @include media("<=t-m"){
                margin-top: 2rem;
                min-height: 40vw;
                padding-left: 1rem;
            }
        }

    }
}
